<a href="https://colab.research.google.com/github/sunny9sinha/Blog_Apriori/blob/main/Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import necessary libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Load "store_data.csv" dataset
store_data_df = pd.read_csv("/content/store_data.csv", header=None)

# Preprocess dataset
transactions = []
for i in range(len(store_data_df)):
    transactions.append([str(store_data_df.values[i,j]) for j in range(len(store_data_df.columns))])

# Transform dataset into one-hot encoding
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Generate frequent itemsets with minimum support of 0.01
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

# Generate association rules with minimum confidence of 0.5
association_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [5]:
# Print frequent itemsets and association rules
frequent_itemsets

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.033329                                     (avocado)
2    0.010799                              (barbecue sauce)
3    0.014265                                   (black tea)
4    0.011465                                  (body spray)
..        ...                                           ...
510  0.011065       (mineral water, ground beef, milk, nan)
511  0.017064  (nan, mineral water, ground beef, spaghetti)
512  0.015731         (nan, mineral water, milk, spaghetti)
513  0.010265    (nan, mineral water, olive oil, spaghetti)
514  0.011465     (nan, mineral water, pancakes, spaghetti)

[515 rows x 2 columns]

In [6]:
association_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(nan),0.020397,0.999867,0.020264,0.993464,0.993597,-0.000131,0.020397
1,(avocado),(nan),0.033329,0.999867,0.033196,0.996000,0.996133,-0.000129,0.033329
2,(barbecue sauce),(nan),0.010799,0.999867,0.010799,1.000000,1.000133,0.000001,inf
3,(black tea),(nan),0.014265,0.999867,0.014265,1.000000,1.000133,0.000002,inf
4,(body spray),(nan),0.011465,0.999867,0.011465,1.000000,1.000133,0.000002,inf
...,...,...,...,...,...,...,...,...,...
258,"(milk, ground beef)","(mineral water, nan)",0.021997,0.238235,0.011065,0.503030,2.111489,0.005825,1.532820
259,"(mineral water, spaghetti, ground beef)",(nan),0.017064,0.999867,0.017064,1.000000,1.000133,0.000002,inf
260,"(mineral water, milk, spaghetti)",(nan),0.015731,0.999867,0.015731,1.000000,1.000133,0.000002,inf
261,"(mineral water, olive oil, spaghetti)",(nan),0.010265,0.999867,0.010265,1.000000,1.000133,0.000001,inf
262,"(mineral water, spaghetti, pancakes)",(nan),0.011465,0.999867,0.011465,1.000000,1.000133,0.000002,inf